<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <style>
    td {
      padding: 10;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function () {
      $.get("/get-user", function (data) {
        console.log(data);
        let table =
          "<table border='1'><tr><th>ИД</th><th>Телефон</th><th>Имя</th></tr>";
        for (i = 0; i < data.length; i++) {
          table +=
            "<tr><td>" +
            data[i].id +
            "</td><td>" +
            data[i].phone +
            "</td><td>" +
            data[i].name +
            "</td></tr>";
        }
        table = table + "</table>";
        $("#test_user").html(table);
      });
    });
  </script>
  <body>
    <div id="test_user"></div>
  </body>
</html>
