<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <style>
    td {
      padding: 10;
    }
  </style>
  <script type="text/javascript">
    function showUsers() {
      $.get("/get-user", function (data) {
        console.log(data);
        let table =
          "<table border='1'><tr><th>ИД</th><th>Телефон</th><th>Имя</th></tr>";
        for (i = 0; i < data.length; i++) {
          table +=
            "<tr><td>" +
            data[i].id +
            "</td><td>" +
            data[i].phone +
            "</td><td>" +
            data[i].name +
            "</td></tr>";
        }
        table = table + "</table>";
        $("#test_user").html(table);
      });
    }
    $(document).ready(function () {
      showUsers();
    });

    function send_user() {
      $.ajax({
        url:'/add-user',
        dataType: 'json',
        type:'POST',
        cache: false,
        contentType: 'application/json',
        data:JSON.stringify({
          id:$('#user_id').val(),
          name:$('#user_name').val(),
          phone:$('#user_phone').val(),
        }),
        success:function(){
          showUsers();
        }
      });
    }
  </script>
  <body>
    <div id="test_user"></div>
    <form action="">
      <input type="text" id="user_id" placeholder="ИД" /><br>
      <input type="text" id="user_name" placeholder="Имя" /><br>
      <input type="text" id="user_phone" placeholder="Телефон" /><br>
      <input type="button" value="Сохранить" onclick="send_user()" /><br>
    </form>
  </body>
</html>
